# Emacs
*~
# MacOS
.DS_Store

# Temporary files for diff'ing of actual values against golden files.
pkg/ead/testdata/tmp/*
!pkg/ead/testdata/tmp/actual/
pkg/ead/testdata/tmp/actual/*
!pkg/ead/testdata/tmp/actual/.gitkeep

### Patterns below are copied from https://github.com/github/gitignore/blob/e95aa3fbbd591f0486205cb8848d99e38bee5b35/Go.gitignore

# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test
!Dockerfile.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work
go.work.sum

# env file
.env

# binary executable
go-ead-indexer
